body {
  margin: 0;
  padding: 0;
  background: hsla(187, 92%, 23%, 0.92);
}

.game {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(175, 85%, 10%, 0.92);
  margin: 0 25%;
}

.peg {
  width: 30px;
  height: 300px;
  background: rgb(48, 154, 216);
  position: absolute;
  margin: 40px;
  border-radius: 10%;
}

.disk {
  width: 60px;
  height: 100px;
  background: rgba(26, 209, 26, 0.89);
  margin: 10px;
  border-radius: 5%;
  position: absolute;
}
